---
layout: markdown_page
title: GitLab Reference Architectures
description: "Our reference architectures can range from a default single-node installation to more complex clustered setup with different components for availability."
canonical_path: "/solutions/reference-architectures/"
---

= partial('includes/reference-architectures/gitlab-reference-architectures.md')
%hr
  This page can be downloaded as
  %a{href: 'gitlab-reference-architectures.pdf'}
    PDF.
